* {
    margin: 0;
    padding: 0;
}

/* body */

body {
    background-color: beige;
}

/* header */

header {
    background-color: #a19c82;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 20px;
}

.logo {
    width: 150px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

/* main */

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}


/* footer */

footer {
    background-color: #a19c82;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}

/* 0km */

.contenedor0km {
    margin: 5%;
    border: 2px solid #a19c82;
    border-radius: 10px;
}

.img0km {
    display: block;
    width: 500px;
    height: auto;
}

.contenedor0km {
    background-color: #a19c82;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.contenedor0km p {
    text-align: center;
    font-size: 15px;
}

/* Usados */

.contenedorUsados p {
    text-align: center;
    font-size: 15px;
}

.contenedorUsados {
    margin: 5%;
    border: 2px solid #a19c82;
    border-radius: 10px;
}

.imgUsados {
    display: block;
    width: 500px;
    height: auto;
}

.contenedorUsados {
    background-color: #a19c82;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

}



/* Iframe */


iframe {
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}

p {
    text-align: center;
}

/* formulario */


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a19c82;
    border-radius: 5px;
}

.btnFormulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;

}

/*diseño responsive*/

@media (max-width:1023px) {
    /*Header*/

    .header {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .contenedor0km .img0km {
        max-width: 100%;
        height: auto;
    }

    .contenedorUsados .imgUsados {
        max-width: 100%;
        height: auto;
    }

    @media (max-width:768px) {
        .form {
            max-width: 100%;
            height: auto;
        }
    }
}

    