* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap" rel="stylesheet">);

/* body */

body {
    background-color: #fff59d;
}

body {
    background-color: beige;
}

/* header */


.header {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;

}

.header .nav-links li a:hover {
    color: #ffbc0c;
}

.header .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/* main */

.caja {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    min-height: 100vh;
    /* Establece una altura mínima de la ventana */
    flex-wrap: wrap;
    /* Permite que los contenedores se envuelvan a medida que el espacio se reduce */
}

.containerPosicion {
    display: flex;
    flex-direction: column;
    align-items: center;


    min-height: 100vh;
    margin: 0;
    /* Puede eliminar el margen entre las columnas si es necesario */
}

.caja img {
    max-width: 100%;
    height: auto;
}

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}


/* footer */


.footerposicion {
    bottom: 0;

}

footer {
    background-color: #a19c82;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}

/* 0km */

.contenedor0km {
    margin: 5%;
    border: 2px solid #a19c82;
    border-radius: 10px;
    align-items: center;
}

.img0km {
    display: block;
    width: 500px;
    height: auto;
}

.contenedor0km {
    background-color: #a19c82;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.contenedor0km p {
    text-align: center;
    font-size: 15px;
}

/* Usados */

.contenedorUsados p {
    text-align: center;
    font-size: 15px;
}

.contenedorUsados {
    margin: 5%;
    border: 2px solid #a19c82;
    border-radius: 10px;
}

.imgUsados {
    display: block;
    width: 500px;
    height: auto;
}

.contenedorUsados {
    background-color: #a19c82;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

}



/* Iframe */


iframe {
    display: block;
    margin: auto;
    width: 500px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}

p {
    text-align: center;
}

/* formulario */


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a19c82;
    border-radius: 5px;
}

.btnFormulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;

}

/*diseño responsive*/

@media (max-width:1023px) {
    /*Header*/

    .header {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .contenedor0km .img0km {
        max-width: 100%;
        height: auto;
    }

    .contenedorUsados .imgUsados {
        max-width: 100%;
        height: auto;
    }

}



@media (max-width:768px) {
    .form {
        max-width: 100%;
        height: auto;
    }
}


.responsive {
    max-width: 100%;
    height: 100%;

}

.containerMap {
    width: 50vw;
    margin: auto;
    height: 400px;
}